snippet system
System($1, "$2", "$3")
endsnippet

snippet system_boundary
System_Boundary($1, "$2")
endsnippet

snippet container
Container($1, "$2", "$3")
endsnippet

snippet rel
Rel($1, $2, "$3", "$4")
endsnippet

snippet tag_element
AddElementTag($1, $0)
endsnippet
