snippet function_doc
#=== FUNCTION ================================================================
# NAME: $1
# DESCRIPTION: $2
# PARAMETER 1: $3
#=============================================================================
endsnippet

snippet section
#----------------------------------------------------------------------
# $1
#----------------------------------------------------------------------
endsnippet
